@media screen and (max-width: 576px) {
    /* navbar design start  */
    .nav-container{
        width: 95%;
    }
    .nav-option{
        border: none;
    }
    #nav-opt {
        display: none;
   }
    #navbar-icon{
        display: block;
    }
    /* navbar design end  */
    /* banner start */
    .banner-head-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 95%;
    }
    .banner-container{
        width: 95%;
    }
    .banner-btn{        
       justify-content: space-between;
        gap: 1.2rem;
    }
    .banner-video-box{
        width: 9.3rem;
        /* height: 6rem; */
    }
    .box-1{
        right: 0.8rem;
        top: 2.99rem;
    }
    .box-1 h4{
        font-size: 1.88rem;
    }
    .box-1 p{
        font-size: 0.58rem;    
 }
    .box-2{
        left: 0.75rem;
        bottom: 9.43rem;
        padding-left: 0.5rem;
    }
    .box-2 h4{
        font-size: 1.15rem;
    }
    .box-2 p{
        font-size: 0.74rem;
    }

    /* banner end  */
}