@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;

}

/*  font-family: 'Miama', sans-serif; */
.span{
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem;
    font-weight: 400;
}
/* sharing the same style */
.bg-btn-org{
    background-color: rgb(230, 83, 60);
    font-weight: 600;
    border-radius: 2.9rem;
    padding: 0.5rem 1.2rem;
    max-width: 13rem;
    text-align: center;
}

/* font-family: "Inter", sans-serif; */

/* started to desing the header part */
body{
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    
}

/* start css banner style */
.header-container{
  
   background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.1) 100%);
    padding-top: 1rem;
   
}

/* start navbar design */
.nav-container{
    display: flex;
    justify-content: space-between;
     
    width: 85%;
    margin: 3.5rem auto 0;
    align-items: center;
}
.nav-logo{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2rem;
    
}
.nav-option{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
#navbar-icon{
    width: 20px;
    display: none;
     
}

.button-orange{
    background-color: rgb(230, 83, 60);
    font-weight: 600;
    border-radius: 2.9rem;
    padding: 0.5rem 1.2rem;
}

/* end navbar design */

/* start banner part */
.banner-head-content{
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
.banner-container{
    width: 32rem;
}
.banner-content{
    font-size: 4.8rem;
    font-weight: 900;
}
 
.banner-content-description{
    font-weight: 400;
    font-size:1rem;
    color: rgba(255, 255, 255, 0.5);
}
.banner-image{
    /* border: 2px solid tomato; */
    position: relative;
} 
.banner-btn{

    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.download-btn{
    font-weight: 600;
    border-radius: 2.9rem;
    padding: 0.5rem 1.2rem;
    border: 1px solid rgb(255, 255, 255);
}

.banner-video-box{
    width: 12.06rem;
    /* height: 6rem; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    padding: 1rem 1.5rem; 
}
#videoplay-icon{
    width: 40px;
}

.box-1{
    position: absolute;
    right: -4.62rem;
    top: 7.81rem;
    align-items: center;
}
.box-1 h4{
    font-size: 2.5rem;
    font-weight: 900;
}
.box-1 p{
    font-size: 0.8rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.65);
}
.box-2{
    display: flex;
    align-items: center;
    position: absolute;
    left: -7.07rem;
    bottom: 3.93rem; 
}
.box-2 h4{
    font-size: 1.4rem;
    font-weight: 900;
}
.box-2 p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* end banner part */

/* start design the change ur habite part  */

.change-your-habite-container{
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.habite-content{
    text-align: center;
}
.habite-content h1{
    font-size: 3rem;
    font-weight: 900;
}
.habite-content p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.habite-image-container{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    padding-top: 3.35rem;
    /* align-items: center; */
    text-align: center;
    gap: 2.5rem;
}
.habite-image-content{
    /* border: 1px solid red; */
    width: 25%;
}
.habite-image-content>img{
    border-radius: 50%;
}
.habite-image-content>h5{
    font-size: 1.1rem;
}
.habite-image-content>p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* start the Run an Extra Mile Easily section  */
.run-container{
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 1.85rem 2rem 1.85rem 3.3rem;
}
.run-content{
    display: flex;
    /* gap: 10.31rem; */
    justify-content: space-between;
    align-items: center;


}
.run-description-content{
    width: 40%;
    /* border: 2px solid tomato; */
}
.run-description-content>h1{
    font-size: 3rem;
    font-weight: 900;
}
.run-description-content-paragraph{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.run-image-content{
    width: 22.85rem;
    height: 19.5rem;
    /* border: 2px solid tomato; */
    border-radius: 18px;
    overflow: hidden;
}
.run-image-content>img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     transform: scale(2);
     transform-origin:  85% 20%;   
}
 

/* bmi title  */
.design-title{
    margin-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5.5rem;
    width: 85%;
    text-align: center;
}
.design-title h1{
    font-weight: 900;
    font-size: 3rem;
}
.design-title p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
}
/* end bmi title  */

/* bmi-calculator  */
.bmi-calculator{
    width: 100%;
    background-color: rgb(34, 34, 34);
}


/* start to design the calculator part  */
.bmi-calculator-container{
    width: 85%;
    margin: 3.5rem auto;
    padding-top: 3rem; 
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
/* bmi chart table   */
.bmi-chart-content{
    width: 25%;
}
.bmi-chart-content h1{
    font-size: 1.75rem;
    font-weight: 900;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th , td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.5rem;
}
th{
    font-size: 1rem;
    font-weight: 500;
}
td{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* .bmi-calculator-content   */

.bmi-calculator-content{
        width: 45%;
        
}
.bmi-calculator-content>h1{
    font-size: 1.75rem;
    font-weight: 900;
}
.bmi-calculator-content>p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


.calculate-form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
     
}
.calculate-form input , .calculate-form select  {
    /* padding: 0.7rem; */
    width: calc( 50% - 0.7rem );
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.3);
    padding-right: 0.4rem;
    border: 0.7rem solid transparent;
}
.submit-calculate{
    background-color: rgb(230, 83, 60);
    font-weight: 600;
    border-radius: 2.9rem;
    padding: 0.5rem 1.2rem;
    width: 11rem;
    text-align: center;
    border: none;
    color: #ffffff;
}
#select{
    width: calc( 100% - 0.35rem);
}


/* meet our team section  */

.meet-our-team-container{
    width: 85%;
    margin: 3.5rem auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.25rem;
}
.meet-our-team-image-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   /* border: 2px tomato solid; */
}

.meet-our-team-image-content{
    position: relative;
    height: 270px;
}
 
.meet-our-team-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    filter: brightness(70%);    
   
}
.name-prof{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}
.name-prof h4 {
    font-size: 1rem;
}
.name-prof p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

  